@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  min-height: 100vh;
  background-color: #f2eadd;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  background-color: #f2eadd;
}

footer p {
  padding: 1rem;
  font-size: 2rem;
  display: inline-block;
}

footer span {
  margin-left: 2rem;
}

footer span a {
  color: #313131;
}

footer span a:hover {
  background-color: white;
  color: black;
  border-radius: 0.7rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}
.container>.no-uploads{
    color: black;
    font-size: 5rem;
    text-align: center;
    margin-top: 30rem;
}

 .main-background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
} 

/* Navigation */

body .search-form {
  margin-top: 40rem;
}

/* Miscellaneous */

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* Navigation */

nav {
  /* background-color: black; */
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 1rem;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1rem;
}

.navbar li a.active {
  color:dimgray;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar li a:hover {
  background-color: white;
  color:black;
  border-radius: 1rem;
  transition: all 0.5s ease;
}

.home-text {
  position: relative; top: -200px;
  text-align:center;
  font-weight: bolder;
  margin-left: 350px;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.home-text h1 {
  font-size: 40px;
}

.home-text h2 {
  font-size: 16px;
}

/* Search */

.search-form {
  display: flex;
  justify-content: right;
  width: 80%;
  margin-top: 0rem;
  margin-left: -1.5rem;
}

.search-form label {
  margin-right: 10px;
}

.search-input {
  width: 80%;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.7rem 0 0 0.7rem;
}

#btnSearch {
  padding: 0.9rem 1rem;
  font-size: 1rem;
  background-color: #313131;
  color: #fff;
  border: none;
  border-radius: 0 0.7rem 0.7rem 0;
  cursor: pointer;
}

#btnSearch:hover {
  background-color: #555;
}

/* Card */

.card {
  text-align: center;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.user {
  flex-basis: 25%;
  color: #fff;
}

.user img {
  width: 10rem;
  border-radius: 50%;
}

.user h2 {
  margin-top: 5rem;
  color: black;
}

.card .user>img{
  width: 20rem;
  margin-top: 2rem;
}

.gif-display {
  flex-basis: 75%;
}

.gif-display img {
  width: 400px;
  height: 400px;
  margin-top: 5rem;
}

.gif-info {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.gif-info span {
  color: rgb(160, 166, 164);
}

.related>h3 {
  text-align: left;
  margin-left: 10rem;
  font-size: 3rem;
  color: black;
}

.info-item {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: black;
  background: transparent;
  border-radius: 5%;
  padding: 0.5rem 1rem;
  margin-right: 3rem;
  border-radius: 3rem;
}

.info-item .heart {
  position:relative;
  font-size: 38px;
  margin-left:auto;
}

.info-item span:hover {
  cursor: pointer;
}

/* All from Search */

.all-from-search {
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.all-from-search>h1{
  margin-top: 10rem;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10rem;
}

.out {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.seeMoreWrapper {
  display: flex;
  justify-content: center;
}

.trendingBtn {
  width: 80px;
  height: 40px;
  background-color: pink;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-color: aliceblue;
  border-radius: 15%;
}

.trendingBtn:hover {
  background-color: rgb(242, 152, 167);
  scale: 1.1;
}

.article {
  margin: 2rem 0;
}

.article-image {
  margin: 0;
  justify-content: center;
  display:flex;
  background-color: white;
  object-fit:fill;
  padding: 10px;
}

.related h3 {
  color: black;
}

.article-image img {
  width: 250px;
  height: 250px;
}

.gif-link:hover {
  cursor: pointer;
}

.article-card {
  display: flex;
  background-color: white;
  color: black;
  text-align: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
} 

.article:hover .article-card {
  opacity: 1;
  visibility: visible;
}

.article-card span {
  margin-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.article-card span:hover {
  cursor: pointer;
}

/* Related CSS */

.carousel-container {
  width: 80rem;
  margin: 5rem auto;
  min-height: 20rem;
  margin-bottom: 7rem;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}

.carousel-container .track {
  display: inline-flex;
  transition: transform 0.6s;
}

.carousel-container .card-container {
  width: 20rem;
  flex-shrink: 0;
  height: 25rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
}

.carousel-container .card-container .card-relative {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.nav-carol button {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1px solid #aaa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-carol .prev {
  left: -7rem;
  cursor: pointer;
  display: none;
}

.nav-carol .prev.show {
  display: block;
}

.nav-carol .next {
  left: 79rem;
  cursor: pointer;
}

.nav-carol .next.hide {
  display: none;
}

.carousel-container .card-container {
  position: relative;
}

.carousel-container .card-container:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 93%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.carousel-container .card-container:hover .relative-info {
  opacity: 1;
  visibility: visible;
}

.carousel-container .card-container .relative-info {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 93%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.card-relative > * {
  flex: 1;
}

.card-relative .relative-info {
  flex-basis: 4rem;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-relative .relative-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-relative .relative-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/* Footer */

footer {
  margin-top: auto;
  color: #313131;
  text-align: center;
}


/* Upload Page */

.container-uploaded {
  max-width: 400%;
  width: 30%;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form {
  display: grid;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.file-label {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}

#submit-btn {
  margin-top: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
  color: black;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#submit-btn .btn-icon{
  margin-left: 2rem;
  scale: 1.5;
}

#submit-btn:hover,
.file-label:hover {
  background: black;
  color: white;
  border-radius: 1rem;
}

#myModal {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  color: black;
  margin-top: 5rem;
  font-size: 1.5rem;
  max-width: 400%;
  width: 30%;
  padding: 100px;
  top: 55%;
  left: 50%;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
}

#alert-txt {
  display: inline-block;
  font-style: italic;
  text-decoration: underline;
}

#ok-btn {
  width: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  color:white;
  background-color: black;
}

.title-infor{
  justify-content: center;
  text-align: center;
}

.main-title{
  display: grid;
  font-size: 2rem;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 100px;
  color:white;
  background: black;
  padding: 5px 10px;
  width: 250px;
  border-radius: 1rem;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

.about-txt{
  margin: auto;
  display:grid;
  width: 250px;
  color:black;
  text-align: justify;
  justify-items: center;
  font-size: 2rem;
}


#about-team{  
  margin-top: 12rem;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transform: translate(50%, -50%);
}

.our-team {
  display: flex;
  width: 250px;
  font-size: 2rem;
  justify-content: center;
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 1rem;
  margin-top: 100px;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

#about-team .user{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.user img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
  transition: .5s;
  backface-visibility: hidden;
}

.data{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(50% -50%);
  text-align: center;
}
.data>h3{
  color: black;
  font-size: 2rem;
  margin-top: 25rem;
}
.user:hover .img{
  opacity: 0.3;
  border: solid thin black;
}

.user:hover .data{
  opacity: 1;
}

.text-user{
  color: black;
  font-size: 2rem;
}
